*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}



body{
    font-family: 'Montserrat', sans-serif;
 }
 

.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    
}
.nav ul{
    display: flex;
    list-style: none;
   
    
}
.nav ul li{
    font-size: 20px;
    margin: 15px;
}
.nav ul li a{
    color: black;
    text-decoration: none;
}
.nav h2{
    font-size: 40px;
    color: rgb(123, 64, 233);
}

/*...................................en tête.........................................*/

.info h1 p button{
    margin-right: -30px;
}

.en-tete{
    padding-bottom: 70px;
    margin: 70px;
    padding-left: 70px;
    display: flex;
    justify-content: space-around;

    
}
.en-tete button{
    margin-top: 20px;
    padding: 20px 40px;
    color: rgb(252, 252, 252);
    background-color: rgb(123, 64, 233);

}
.en-tete img{
    height: 15rem;
    border-radius: 50%;
}

.en-tete h1{
    font-size: 5rem;
}

/*...................................image.........................................*/

.formation img{
    height: 9rem;
    width: 17rem;
}

/*...................................information personnelle.........................................*/

.experience{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    
}
.experience h1{
    font-size: 8rem;
    color: rgb(123, 64, 233);
    
}
.experience p{
    font-size: 2rem;
    display: flex;
}

/*....................cart ...............*/

.cart0{
    display: flex;
    justify-content: space-between;
    border: 5rem solid #ff00;
background-color: rgb(216, 215, 215);
height: 4rem;
width: 4rem;
    
}

.cart{
margin-left: 300px;
margin-top: -5rem;




}
.cart2{
margin-top: -5rem;
border: 5rem solid #ff00;
background-color: rgb(216, 215, 215);
height: 4rem;
width: 4rem;
margin-right: 3px;
    
}
.cart3{
margin-top: -5rem;
border: 5rem solid #ff00;
background-color: rgb(216, 215, 215);
height: 4rem;
width: 4rem;

}
.experience h1{
    margin-right: -20px;
}
/* h3{
    margin-right: 20rem;
}
     */

.work--experience{
    display : flex;

    margin-top: 30px;
    
 

}

.experience--1 > h1{ 
font-size: 8rem;
color: rgb(123, 64, 233);
margin-top: 0.75rem;
margin-left: 0.75rem;
}

.experience--1{
    flex-basis: 30%;
    padding-top: 10px;
}

.experience--2{
    flex-basis: 70%;
    
}
.experience--2{
    margin-top: 5rem;
}
.experience--2 h1{
    font-size: 2rem;
}

.work-items{
    display: flex;
    margin-top: 5rem;
    width: 100%;
    
    
}
.work--item:hover{
    background-color: rgb(123, 64, 233);
    
}

.work--item-1{
    height: 250px;
    background-color :rgb(123, 64, 233);
    width : 31%;
    margin-left: 0.75rem;
    position: relative;
    border-radius: 5%;
    box-shadow: 1px 2px 3px 2px;
    transition: ease-in-out(.3s);
}

.work--item{
    height: 250px;
    background-color :lightgray;
    width : 31%;
    margin-left: 0.70rem;
    text-align : center;
    border-radius: 5%;
    box-shadow: 0px 0px 23px -5px rgb(0 0 0 / 18%);
    transition: ease-in-out(.3s);
}

.work--item-1--content{

    position : absolute;
    left: 3rem;
    color:white;
    bottom: 2rem;

}

.work--item-1--content i{
    font-size: 2rem;
    color: white;

}
.work--item{
    position: relative;
}
.work--item-2--content{
    position : absolute;
    left: 3rem;
    bottom: 2rem;
}
.work--item-3--content{
    position : absolute;
    left: 3rem;
    bottom: 2rem;
}
.commentaire{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.commentaire--2{
    margin-top: 2rem;
    color: rgb(123, 64, 233);
    background-color: #ff00;
}



.container1{
  display: flex;
  flex-wrap: wrap;
  
  
}
.container1 img{
    animation-iteration-count: infinite;
    height: auto;
    width: 100%;
    transition: ease-in-out 3s;
    object-fit: cover;
    
   
    
}
.img2{
    margin-top: 15px;
    
}
.img3:hover img{
    transform: translateY(calc(-100% + 300px));
    

   
}
.img3{
    height: 250px;
    overflow:hidden;
    border: 1px solid rgb(155, 152, 152);
    margin-left: 15px;
    margin-bottom: 15px;
    flex-basis: 31%;
    border-radius: 5%;
    box-shadow: 0px 0px 23px -5px rgb(0 0 0 / 18%);
    
    
   
}


/* @keyframes maquette{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-200px);
    }
    50%{
        transform: translateY(-400px);
    }
    75%{
        transform: translateY(-600px);
    }
    100%{
        transform: translateY(0);
    } */
    

.container2{
    display: flex;
}
.footer img{
    height: 4rem;
    border-radius: 50%;
    border:2px solid rgb(123, 64, 233) ;
}

.footer{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    background-color: rgb(205, 220, 235);
}
.footer--central{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 240px;
    background-color :rgb(253, 253, 253);
    text-align : center;
    margin: 15px;
    width: 300px;
    color: rgb(123, 64, 233);
}
.footer1 p{
    margin-top: 18px;
    margin-bottom: 3px;
}
.footer1 h3{
    margin-top: 10px;
    color:rgb(158, 158, 157)
}
.footer1 img{
    margin-top: 8px;
    margin-bottom: 3px;
}











@media (min-width: 576px)
{
    .container {
        max-width: 720px;
    }
}


@media (min-width: 1200px)
{


    .container {
        max-width: 1140px;
    }

}
@media (min-width: 992px)
{
    .container {
        max-width: 960px;
    }
}


@media (min-width: 768px)
{

    .container {
        max-width: 1140px;
    }
}
.form{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.form-{
    display: flex;

}
.form--text{
    flex-basis: 75%;
}
.form--text h2{
    color:rgb(112, 113, 114);
    margin-bottom: 20px;
    
}
.form--text p{
    margin-bottom: 20px;
}
.form--inp{
    color:rgb(112, 113, 114);
   
}
.form-{
    margin-top: 20px;
    flex-wrap: wrap;
}
.form- input{
    background-color: rgb(189, 189, 235);
    font-size: 20px;
    display: flex;
    
    margin: 2px;
    padding: 20px;
    width: 100%;
}
.form--text a{
    text-decoration: none;
    color: rgb(123, 64, 233);
}
.fin{
    background-color: black;
    color: cornsilk;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}
.fin p{
    margin-top: 10px;
    border-color: 1px solid red;
   
}
.form- button{
    padding: 20px;
}