@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



body{
    font-family: 'Montserrat', sans-serif;
 }
 

.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.nav ul{
    display: flex;
    list-style: none;
   
    
}
.nav ul li{
    margin: 0px -20px;
    font-size: 20px;
    
}
.nav ul li a{
    color: black;
    text-decoration: none;
}
.nav h2{
    font-size: 40px;
    color: rgb(123, 64, 233);
}

/*...................................en tête.........................................*/

.info h1 p button{
    margin-right: -30px;
}

.en-tete{
    padding-bottom: 70px;
    margin: 70px;
    padding-left: 70px;
    display: flex;
    justify-content: space-around;

    
}
.en-tete button{
    margin-top: 20px;
    padding: 20px 40px;
    color: rgb(252, 252, 252);
    background-color: rgb(123, 64, 233);

}
.en-tete img{
    height: 15rem;
    border-radius: 50%;
}

.en-tete h1{
    font-size: 5rem;
}

/*...................................image.........................................*/

.formation img{
    height: 7rem;
    width: 13rem;
}

/*...................................information personnelle.........................................*/

.experience{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    
}
.experience h1{
    font-size: 8rem;
    color: rgb(123, 64, 233);
    
}
.experience p{
    font-size: 2rem;
    display: flex;
}

/*....................cart ...............*/

.cart0{
    display: flex;
    justify-content: space-between;
    border: 5rem solid #ff00;
background-color: rgb(216, 215, 215);
height: 4rem;
width: 4rem;
    
}

.cart{
margin-left: 300px;
margin-top: -5rem;




}
.cart2{
margin-top: -5rem;
border: 5rem solid #ff00;
background-color: rgb(216, 215, 215);
height: 4rem;
width: 4rem;
margin-right: 3px;
    
}
.cart3{
margin-top: -5rem;
border: 5rem solid #ff00;
background-color: rgb(216, 215, 215);
height: 4rem;
width: 4rem;

}

.cart p{
    
   
   


}
.experience h1{
    margin-right: -20px;
}
/* h3{
    margin-right: 20rem;
}
     */

.work--experience{
    display : flex;
    border : 1px solid red;

    margin-bottom: 20px;
 

}

.experience--1 > h1{ 
font-size: 8rem;
color: rgb(123, 64, 233);
margin-top: 0.75rem;
margin-left: 0.75rem;
}

.experience--1{
    flex-basis: 30%;
    border : 1px solid red;
}

.experience--2{
    flex-basis: 70%;
    border : 1px solid red;
}

.work-items{
    display: flex;
    margin-top: 1rem;
    width: 100%;
    
}

.work--item-1{
    height: 250px;
    background-color :rgb(123, 64, 233);
    width : 31%;
    margin-left: 0.75rem;
    position: relative;
}

.work--item{
    height: 250px;
    background-color :lightgray;
    width : 31%;
    margin-left: 0.75rem;
    text-align : center;
}

.work--item-1--content{

    position : absolute;
    left: 3rem;
    color:white;
    bottom: 2rem;

}

.work--item-1--content i{
    font-size: 2rem;
    color: white;

}

@media (min-width: 576px)
{
    .container {
        max-width: 720px;
    }
}


@media (min-width: 1200px)
{


    .container {
        max-width: 1140px;
    }

}
@media (min-width: 992px)
{
    .container {
        max-width: 960px;
    }
}


@media (min-width: 768px)
{

    .container {
        max-width: 1140px;
    }
}